.body{
    background-color:#34343f;
    color:white;

}

#head{
    text-align:center
}


#button1{
    background-color:brown;
}















.vehicles{
    padding-top:15px;
}

.footer{
    text-align:center;
}